:root {

	/* NEW COLOURS */
	--lane-color: #979797;
	--span-color: #3d98dc;
	--highlight-span-color: #94efff;
	--prev-highlight-color: var(--span-color);
	--histogram-plain-color: #888888;
	--molehill-color: var(--histogram-plain-color);
	--molehill-threshold-color: #872829;
	--events-low-prob-color: white;
	--events-high-prob-color: black;
	--text-color: white;
	--link-color: #c0c6a0; 

	/* OLD COLOURS
	--lane-color: #979797;
	--span-color: #5BB6FA;
	--highlight-span-color: #E18100;
	--prev-highlight-color: var(--span-color);
	--histogram-plain-color: #888888;
	--molehill-color: var(--histogram-plain-color);
	--molehill-threshold-color: #FFA0A1;
	--events-low-prob-color: white;
	--events-high-prob-color: black;
	--text-color: white;
	--link-color: #ffd800; */

	/* MONOCHROME COLOUR VALUES FOR TESTING PURPOSES
	--lane-color: #979797;
	--span-color: #778899;
	--highlight-span-color: #DCDCDC;
	--prev-highlight-color: var(--span-color);
	--histogram-plain-color: #696969;
	--molehill-color: var(--histogram-plain-color);
	--molehill-threshold-color: #2F4F4F;
	--events-low-prob-color: white;
	--events-high-prob-color: black;
	--text-color: white;
	--link-color: #C0C0C0;
	*/


}


.chart {
	shape-rendering: crispEdges;
}

.text {
	font: sans-serif;	
	color: #bebebe
}

.mini text {
	font: 9px sans-serif;	
	color: #bebebe;
}

.main text {
	font: 12px sans-serif;	
	color: #bebebe;
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: #1ECBE1;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: #bebebe;
}

.miniItem {
	stroke-width: 6;	
}

/* Colours for standard spans */
.normal {
	stroke: var(--span-color);
	fill: var(--span-color);
	opacity: 1;
}

.selected {
	stroke-width: 2;
	stroke: var(--highlight-span-color);
	fill: var(--span-color);
	opacity: 1;
}

.prevselected {
    stroke: var(--prev-highlight-color);
	fill: var(--prev-highlight-color);
    opacity: 1;
}

.brush .extent {
	fill: #1ECBE1;
	fill-opacity: .165;
}

div.tooltip {	
    position: absolute;			
    text-align: center;							
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
	pointer-events: none;
	display: inline-block
}

.swimlane {
	display: inline-block;
}

.hists {
	display: inline-block;
}

.container {
	display: inline-block;
	height: 100vh;
	width: 100vw;
}

.align-bars {
	align: center;
}

.legend {
	color: white;
}